

NET "DIGIT[6]" LOC = P29;
NET "DIGIT[5]" LOC = P28;
NET "DIGIT[4]" LOC = P27;
NET "DIGIT[3]" LOC = P26;
NET "DIGIT[2]" LOC = P24;
NET "DIGIT[1]" LOC = P22;
NET "LCD_A[1]" LOC = P51;
NET "LCD_A[0]" LOC = P50;
NET "LCD_D[7]" LOC = P67;
NET "LCD_D[6]" LOC = P65;
NET "LCD_D[5]" LOC = P64;
NET "LCD_D[4]" LOC = P63;
NET "LCD_D[3]" LOC = P62;
NET "LCD_D[2]" LOC = P61;
NET "LCD_D[1]" LOC = P58;
NET "LCD_D[0]" LOC = P57;
NET "FPGA_CLK" LOC = P79;
NET "FPGA_RSTB" LOC = P205;
NET "LCD_EN" LOC = P52;
NET "load_minus" LOC = P19;
NET "load_operand1" LOC = P102;
NET "load_plus" LOC = P18;
NET "load_game" LOC = P20;
NET "SEG_A" LOC = P31;
NET "SEG_B" LOC = P33;
NET "SEG_C" LOC = P34;
NET "SEG_D" LOC = P35;
NET "SEG_DP" LOC = P48;
NET "SEG_E" LOC = P36;
NET "SEG_F" LOC = P37;
NET "SEG_G" LOC = P39;


NET "FPGA_RSTB" CLOCK_DEDICATED_ROUTE = FALSE;


NET "load_operand2" LOC = P100;

# PlanAhead Generated physical constraints 


NET "playernum[3]" LOC = P12;
NET "playernum[2]" LOC = P13;
NET "playernum[1]" LOC = P15;
NET "playernum[0]" LOC = P16;