//! **************************************************************************
// Written by: Map P.20131013 on Thu Jun 03 16:24:38 2021
//! **************************************************************************

SCHEMATIC START;
COMP "load_operand1" LOCATE = SITE "P102" LEVEL 1;
COMP "load_operand2" LOCATE = SITE "P100" LEVEL 1;
COMP "SEG_A" LOCATE = SITE "P31" LEVEL 1;
COMP "SEG_B" LOCATE = SITE "P33" LEVEL 1;
COMP "SEG_C" LOCATE = SITE "P34" LEVEL 1;
COMP "SEG_D" LOCATE = SITE "P35" LEVEL 1;
COMP "SEG_E" LOCATE = SITE "P36" LEVEL 1;
COMP "SEG_F" LOCATE = SITE "P37" LEVEL 1;
COMP "SEG_G" LOCATE = SITE "P39" LEVEL 1;
COMP "load_game" LOCATE = SITE "P20" LEVEL 1;
COMP "load_plus" LOCATE = SITE "P18" LEVEL 1;
COMP "LCD_EN" LOCATE = SITE "P52" LEVEL 1;
COMP "SEG_DP" LOCATE = SITE "P48" LEVEL 1;
COMP "playernum<0>" LOCATE = SITE "P16" LEVEL 1;
COMP "playernum<1>" LOCATE = SITE "P15" LEVEL 1;
COMP "playernum<2>" LOCATE = SITE "P13" LEVEL 1;
COMP "playernum<3>" LOCATE = SITE "P12" LEVEL 1;
COMP "FPGA_RSTB" LOCATE = SITE "P205" LEVEL 1;
PIN FPGA_RSTB_pin<0> = BEL "FPGA_RSTB" PINNAME PAD;
PIN "FPGA_RSTB_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "DIGIT<1>" LOCATE = SITE "P22" LEVEL 1;
COMP "DIGIT<2>" LOCATE = SITE "P24" LEVEL 1;
COMP "DIGIT<3>" LOCATE = SITE "P26" LEVEL 1;
COMP "DIGIT<4>" LOCATE = SITE "P27" LEVEL 1;
COMP "DIGIT<5>" LOCATE = SITE "P28" LEVEL 1;
COMP "DIGIT<6>" LOCATE = SITE "P29" LEVEL 1;
COMP "LCD_A<0>" LOCATE = SITE "P50" LEVEL 1;
COMP "LCD_A<1>" LOCATE = SITE "P51" LEVEL 1;
COMP "FPGA_CLK" LOCATE = SITE "P79" LEVEL 1;
COMP "LCD_D<0>" LOCATE = SITE "P57" LEVEL 1;
COMP "LCD_D<1>" LOCATE = SITE "P58" LEVEL 1;
COMP "LCD_D<2>" LOCATE = SITE "P61" LEVEL 1;
COMP "LCD_D<3>" LOCATE = SITE "P62" LEVEL 1;
COMP "LCD_D<4>" LOCATE = SITE "P63" LEVEL 1;
COMP "LCD_D<5>" LOCATE = SITE "P64" LEVEL 1;
COMP "LCD_D<6>" LOCATE = SITE "P65" LEVEL 1;
COMP "LCD_D<7>" LOCATE = SITE "P67" LEVEL 1;
COMP "load_minus" LOCATE = SITE "P19" LEVEL 1;
NET "FPGA_CLK_BUFGP/IBUFG" BEL "FPGA_CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

